.favoritos-div-upper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 12vh;
}

.favoritos-search-title {
  font-size: 5vh;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  margin: 16px;
}

.favoritos-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.favoritos-no-movies-message {
  position: fixed;
  left: 50%;
  top: -100px;
  transform: translate(-50%, 0);
  background: #222;
  color: #fff;
  padding: 24px 40px;
  border-radius: 12px;
  font-size: 1.5rem;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: slideDownCenter 0.8s cubic-bezier(.68, -0.55, .27, 1.55) forwards;
}

.favoritos-pagination {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@keyframes slideDownCenter {
  0% {
    top: -100px;
    opacity: 0;
  }
  70% {
    top: 60%;
    opacity: 1;
  }
  100% {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
